@import "./both.scss";
.fix_hg {
    width: 100%;
    height: 93px;
    background: #333;
    position: a;
    .top_warp {
        width: 1200px;
        height: 83px;
        margin: 0 auto;
        padding: 10px 0 0;
        background: url(../img/top.jpg) no-repeat 50% 6px; //注册头部
        .rgto {
            width: 400px;
            height: 34px;
            float: left;
            a {
                display: inline-block;
                color: #d7d7d7;
            }
            ul {
                width: 400px;
                height: 34px;
                text-align: left;
                li {
                    display: inline-block;
                    text-align: center;
                }
                .my_bag {
                    width: 96px;
                    height: 35px;
                    margin: 0 4px 0 0;
                    position: relative;
                    a {
                        display: inline-block;
                        color: #d7d7d7;
                    }
                    .mybag {
                        width: 298px;
                        height: 67px;
                        background: #fff;
                        display: none;
                        position: absolute;
                        top: 35px;
                        left: 0px;
                        p {
                            line-height: 30px;
                            text-align: left;
                            margin-left: 8px;
                        }
                    }
                }
                .login {
                    margin: 0 10px;
                }
                .myxiu {
                    width: 73px;
                    height: 40px;
                    position: relative;
                    .ared {
                        width: 73px;
                        height: 40px;
                    }
                    div {
                        width: 73px;
                        position: absolute;
                        top: 20px;
                        left: 0px;
                        background: #fff;
                        display: none;
                        a {
                            display: block;
                            color: #000;
                            line-height: 25px;
                        }
                    }
                }
                .myxiu:hover div {
                    display: block;
                }
                .myxiu:hover {
                    background: #fff;
                }
            }
            .my_bag:hover a {
                color: red;
            }
            a:hover {
                color: #787867;
            }
            .my_bag:hover .mybag {
                display: block;
            }
            .myxiu:hover .ared {
                color: red;
            }
        }
    }
    .my_bag:hover {
        background: #fff;
    }
    input {
        width: 260px;
        height: 22px;
        float: right;
        color: #787878;
        border: 1px solid #787878;
        background: #333;
    } //导航1开始
    .nav1 {
        width: 100%;
        height: 44px;
        position: absolute;
        top: 48px;
        left: 0;
        .listnav {
            width: 1200px;
            height: 44px;
            margin: 0 auto;
            text-align: center;
            li {
                display: inline-block;
                a {
                    display: inline-block;
                    color: #fff;
                    font-size: 15px;
                    padding: 12px 15px 10px;
                    margin: 0 6px;
                    line-height: 20px;
                }
            }
            a:hover {
                color: #8eb1bf;
                border-bottom: 3px solid #727071;
            }
        }
    }
}

//导航2
.nav-back {
    width: 100%;
    height: 42px;
    background: #f7f7f7;
    .nav-fix {
        width: 1200px;
        height: 42px;
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    .nav-bottom {
        display: inline-block;
       
        overflow: hidden;
        // margin: 0 auto;
    }
    .nav-bottom li {
        float: left;
    }
    .nav-bottom li a {
        display: block;
        padding: 0 18px;
        line-height: 42px;
        color: #000;
        font-size: 14px;
        margin: 0 4px;
        font-family: "宋体";
    } //二级导航开始            
    .twonav {
        width: 720px;
        height: 307px;
        position: absolute;
        display: none;
        background: #fff;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        z-index: 100;
    } //左部
    .leftnav {
        float: left;

        // width: 100%;
        // height:100%;
        padding-bottom: 5px;
        margin: 4px 0;   
    }
    .leftnav p {
        font-weight: bold;
        text-align: left;
        margin: 17px 0 0 10px;
    }
    .leftnav ul {
        border-bottom: 1px dotted #959595;
        width: 450px;
        height: 42px;
        // line-height: 20px;
    }
    .leftnav ul li {
        margin-top: 3px;
        height: 15px;
        padding: 0 10px;
        font-size: 10px;
        line-height: 15px;
        border-right: 1px solid #787878; // cursor:pointer;
    }
    .leftnav ul li:nth-child(6) {
        border: none;
    }
    .leftnav ul li:nth-child(12) {
        border: none;
    } //右部
    .rightnav {
        width: 257px;
        height: 327px;
        position: absolute;
        top: 0;
        left: 460px;
       
    }
    .rightnav h3 {
        text-align: left;
        margin: 17px 0 0 20px;
        font-size: 15px;
    }
    .twonav .rightnav li {
        width: 110px;
        height: 25px;
        font-size: 12px;
        font-family: "微软雅黑";
        text-align: left;
    }
    .nav-bottom li:hover a {
        background: #fff;
    }
    .nav-bottom li:hover .twonav {
        display: block;
    }
}