@import "./both.scss";
.fix {
    width: 100%;
    height: 100%;
    background: #333;
}

.box {
    width: 1200px;
    height: 93px;
    background: url(../img/top.jpg) no-repeat 50% 6px;
    position: relative;
    margin: 0 auto;
    .box1 {
        width: 400px;
        height: 20px;
        float: left;
        padding-top: 15px;
        li {
            width: 80px;
            float: left;
            position: relative;
            a {
                display: block;
                width: 80px;
                color: #d7d7d7;
            }
        }
        li:nth-child(3) ol {
            width: 70px;
            height: 160px;
            display: none;
            background: #fff;
            position: absolute;
            top: -3px;
            padding: 0;
            z-index: 20;
            li {
                line-height: 25px;
                width: 75px;
                color: #000;
                text-align: center;
            }
            a {
                display: block;
                color: #787878;
                text-align: center;
            }
            a:hover {
                color: red;
            }
        }
        a:hover {
            color: #787878;
        }
    }
    li:nth-child(3):hover ol {
        display: block;
    }
    input {
        width: 260px;
        height: 25px;
        background: #333;
        border: 1px solid #787878;
        color: #787878;
        position: absolute;
        right: 0;
        top: 10px;
    }
}

//导航开始
.nav1 {
    width: 1200px;
    height: 44px;
    position: relative;
    top: 48px;
    left: 0;
    margin: 0 auto;
    .listnav {
        width: 800px;
        height: 44px;
        margin: 0 auto;
        position: absolute;
        left: 200px;
        z-index: 5;
       
        li {
            height: 44px;
            line-height: 44px;
            margin: 0 auto;
            display: inline-block;
            a {
                display: inline-block;
                color: #fff;
                font-size: 15px;
                padding: 12px 15px 10px;
                margin: 0 6px;
                line-height: 20px;
            }
        }
        a:hover {
            color: #8eb1bf;
            border-bottom: 3px solid #727071;
        }
    }
}

//导航2
.nav-back {
    width: 100%;
    height: 42px;
    background: #f7f7f7;
    .nav-fix {
        width: 1200px;
        height: 42px;
        position: relative;
        margin: 0 auto;
        text-align: center;
    }
    .nav-bottom {
        display: inline-block;
        overflow: hidden; // margin: 0 auto;
    }
    .nav-bottom li {
        float: left;
    }
    .nav-bottom li a {
        display: block;
        padding: 0 18px; 
        line-height: 42px;
        color: #000;
        font-size: 14px;
        margin:0 4px;
        font-family: "宋体";
    } //二级导航开始            
    .twonav {
        width: 720px;
        height: 307px;
        position: absolute;
        display: none;
        background: #fff;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        z-index: 100;
    } //左部
    .leftnav {
        float: left;
        clear: both;
        width: 100%;
        padding-bottom: 5px;
        margin: 4px 0;
    }
    .leftnav p {
        font-weight: bold;
        text-align: left;
        margin: 17px 0 0 10px;
    }
    .leftnav ul {
        border-bottom: 1px dotted #959595;
        width: 450px;
        height: 42px;
        line-height: 20px;
    }
    .leftnav ul li {
        margin-top: 3px;
        height: 15px;
        padding: 0 10px;
        font-size: 10px;
        line-height: 15px;
        border-right: 1px solid #787878; // cursor:pointer;
    }
    .leftnav ul li:nth-child(6) {
        border: none;
    }
    .leftnav ul li:nth-child(12) {
        border: none;
    } //右部
    .rightnav {
        width: 257px;
        height: 327px;
        position: absolute;
        top: 0;
        left: 460px;
    }
    .rightnav h3 {
        text-align: left;
        margin: 17px 0 0 20px;
        font-size: 15px;
    }
    .twonav .rightnav li {
        width: 110px;
        height: 25px;
        font-size: 12px;
        font-family: "微软雅黑";
        text-align: left;
    }
    .nav-bottom li:hover a {
        background: #fff;
    }
    .nav-bottom li:hover .twonav {
        display: block;
    }
}